---
layout: default
---

{% for post in paginator.posts %}
<div class="post-card">
    <div class="post-meta"><a href="{{ post.url }}" class="post-title">{{ post.title }}</a> <span class="post-date">{{ post.date | date: '%y/%m/%d'}}</span></div>
    <span>{{ post.excerpt | strip_html }}</span><span class="readmore"><a href="{{ post.url }}">READMORE</a></span>
</div>
{% endfor %}

<div class="paginator">
{% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
        <a href="{{ site.url }}">上一页</a>
    {% else %}
        <a href="{{ site.url }}/page{{ paginator.previous_page }}">上一页</a>
    {% endif %}
{% else %}
    <span>上一页</span>
{% endif %}

{{ paginator.page }} of {{ paginator.total_pages }}

{% if paginator.next_page %}
    <a href="{{ site.url }}/page{{ paginator.next_page }}">下一页</a>
{% else %}
    <span>下一页</span>
{% endif %}
</div>
